
:root {
  /* --primary-color:#007BFF; */
  --primary-student: #a1dfff;
  --primary-faculty: #61bbb6;
  --primary-admin: #ff5151;
  --primary-colorWithOpacity: #f1f5fa;
  --secondary-color: #757d85;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --danger-colorWithOpacity: #fdf2f3;
  --info-color: #17a2b8;
  --muted-color: #6c757d;
  --success-color: #28a745;
  --text-color-purity: #fff;
  --text-color-dark: #000;
  --background-color-light: #fff;
  --background-color-dark: #000;
  --background-color-ebony: #5c5b5b;
  --background-color-metal: #969696;
  --background-color-jade: #313131;
  --background-color-raven: #050301;
  --background-color-leather: #0b0705;
  --background-color-pulp: #f7edc9;
  --color-darkTeal: #005459;
  --color-TealWithOpacity: #f5fcf9;
  --color-champagne: #eee3d0;
  --fontsize-strong: 40px;
  --fontsize-tough: 32px;
  --fontsize-pearl: 28px;
  --fontsize-trim: 24px;
  --fontsize-glossy: 20px;
  --fontsize-virgin: 18px;
  --fontsize-brittle: 16px;
}

* {
  overflow-x: hidden;
  word-wrap: break-word;
}
::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  padding: 0;
  font-family: "Ubuntu", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
