.studentDash {
  background-color: var(--primary-student);
  padding: 5% 0;
}
.dash-img {
  width: 100px;
  height: 100px;
}
.navbar {
  line-height: 50px;
}
.navbar li {
  cursor: pointer;
  color: var(--text-color-dark);
}
.navbar li:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}
.navbar button {
  padding: 0 20px;
  border: none;
  outline: none;
  background-color: var(--danger-color);
  border-radius: 6px;
  color: var(--primary-colorWithOpacity);
}
.navbar button:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}
